@{
    ViewBag.Title = "Home Page";
}

<br class="jumbotron">
    <div><h1 class="my-4 text-white">Candor</h1><h2>  ..A world of ideas</h2></div>
    <p class="lead text-white my-5">Candor is a platform for your ideas,
        </br> where users can anonymously rate each one another's ideas</p>
   

<div class="row">
    <div class="col-md-4">
        <h2 class="text-white">Getting started</h2>
        <p class="text-white">
           <h class="text-white-50">Go ahead and imagine,
            </br> ..and then write down your idea.
        </p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-white">Get Ratings</h2>
        <p class="text-white-50">Allow your idea to be rated by anonymous users.</p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-white">Comments</h2>
        <p class="text-white-50">Users can choose to leave you </br>feedback comments.</p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<img class=".ml-auto" src="~/images/t" height="50" width="50" />