@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 my-4>Candor</h1>
    <p class="lead">Candor is a platform for your ideas, where users can anonymously rate each one another's ideas</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Go ahead and imagine, and then write down your idea.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Ratings</h2>
        <p>Allow your idea to be rated by anonymous users.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comments</h2>
        <p>Users can choose to leave you a feedback comment.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>